{
  "extends": ["oclif", "oclif-typescript", "prettier"],
  "rules": {
    "new-cap": "off",
    "node/no-missing-import": "off",
    "lines-between-class-members": "off",
    "no-await-in-loop": "off",
    "no-implicit-coercion": "off",
    "no-return-await": "off",
    "padding-line-between-statements": "off",
    "valid-jsdoc": "off",
    "max-depth": "off",
    "no-warning-comments": "off",
    "no-useless-constructor": "off"
  }
}
