{
  "extends": [
    "eslint:recommended",
    "oclif",
    "oclif-typescript",
    "prettier"
  ],
  "rules": {
    "unicorn/filename-case": "off",
    "new-cap": "off",
    "node/no-missing-import": "off",
    "lines-between-class-members": "off",
    "no-await-in-loop": "off",
    "no-implicit-coercion": "off"
  }
}
